/*************************************************
*
*   Front-end News! Stylesheet
*
*   Indigo        : #3f51b5
*   Indigo (dark) : #303f9f
*   Light blue    : #c5cae9
*   White         : #fff
*   Pink          : #ff4081
*   Gray (dark)   : #212121
*   Gray (medium) : #727272
*   Gray (light)  : #b6b6b6
*
*************************************************/

/*-----------------------------------------------
*   Base
-----------------------------------------------*/
body {
  color: #212121;
  font-family: 'lato', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}
h1,h2,h3,h4,h5,h6 {
  margin-top: 0;
  margin-bottom: 5px;
}

ol,ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

li {

}
a {
  color: #ff4081;
  transition: 0.2s ease-in-out;
}
a:hover,
a:active,
a:focus {
  color: #212121;
}
/***********************************************
* HERO
***********************************************/
.hero {
   background-color: #3f51b5;
   color:#fff;
   padding: 20px 0;
   text-align: center;
   margin-bottom: 40px;
}
/***********************************************
* CONTENT
***********************************************/
.content {
  margin-bottom: 40px;
}
/***********************************************
* Logo
***********************************************/
.logo {
  font-size: 36px;
  font-weight: bold;
  text-transform: uppercase;
}
/***********************************************
* News
***********************************************/
.news-item {
  border-bottom: 1px solid #b6b6b6'
  margin-bottom: 20px;
  padding-bottom: 20px;
}
.news-item:last-child {
  border-bottom: 0;
  padding-bottom: 0;
  margin-bottom: 0;
}
.news-link {
  color:#3f51b5;
  display: block;
  font-size: 24px;
  margin-bottom: 10px;
}
.news-meta-item {
  display: inline;
  margin-right: 15px;

}

/***********************************************
* Content
***********************************************/


/***********************************************
* Container
***********************************************/
.container {
  max-width: 800px;
  margin: 0 auto;
}
/***********************************************
* Form
***********************************************/
.form {
  height: 0;
  margin-bottom: 20px;
  opacity: 0;

  visibility: hidden;
}

.form.is-visible {
  height: auto;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
}

.form-label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}


.form-input {
  border: 1px solid #b6b6b6;
  box-sizing: border-box;
  width: 100%;
  border-radius: 4px;
  padding: 10px;
  font-size: 20px;
}
/***********************************************
* STATES
***********************************************/
.is-liked {
  animation: flash 1.2s;
}

/***********************************************
* Modal
***********************************************/
.modal {
  background-color: #fff;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.45);
  left: 50%;
  opacity: 0;
  position: absolute;
  transform: translate(-50%, 0);
  top: 40px;
  visibility: hidden;
  width: 500px;
  z-index: 2;
}

.modal-media {
  position: relative;
}

.modal-media-title {
  color: #fff;
  bottom: 20px;
  left: 20px;
  font-size: 30px;
  position: absolute;
}

.modal-content {
  padding: 20px;
}

.modal.is-visible {
  opacity: 1;
  visibility: visible;
}



.modal-overlay {
  background-color: #212121;
  bottom: 0;
  position: fixed;
  height: 100%;
  left: 0;
  opacity: 0;
  right: 0;
  top: 0;
  visibility: hidden;
  //transition: 0.4s ease-in-out;
  width: 100%;
  z-index: 1;

}

.modal-overlay.is-visible {
  opacity: 0.4;
  transform: translate(-50%, 5);
  visibility: visible;
}
/***********************************************
* Animation
***********************************************/
@keyframes flash {
  from, 50%, to {
    opacity: 0;
  }
  25%, 75% {
    opacity: 1;
  }
}
